<section id="identity">
    <h1>Darren Gannon</h1>
    <a href="mailto: darrengannon93@gmail.com">darrengannon93@gmail.com</a>
    <a href="https://github.com/Darren-Gannon" target="_blank">
        <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="">
    </a>
    <a href="https://www.npmjs.com/~darren_gannon" target="_blank">
        <img src="https://raw.githubusercontent.com/npm/logos/master/npm%20logo/npm-logo-red.svg" alt="">
    </a>
</section>
<p id="self-description">
    I am a full stack developer with a keen interest in dev ops. I design and implement user interfaces
    and design and develop APIs.
</p>