div {
    display: grid;
    grid-template-areas: 'title title year' 
                         'school school school'
                         'description description description';
    & > h3 {
        grid-area: title;
    }

    .school {
        grid-area: school;
    }

    .year {
        grid-area: year;
        justify-self: end;
    }

    p {
        grid-area: description;
    }
}