<div id="identity-container">
    <h1>Darren Gannon</h1>
    <div id="website-badge-list-container">
        <a class="website-badge" href="https://github.com/Darren-Gannon"
            img="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white">
            <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                alt="GitHub">
        </a>
        <a class="website-badge" href="https://www.npmjs.com/~darren_gannon">
            <img src="https://raw.githubusercontent.com/npm/logos/master/npm%20logo/npm-logo-red.svg" alt="NPM">
        </a>
    </div>
    <p>
        As a full stack developer with a strong grasp of business dynamics, I possess a unique ability to navigate
        development projects within the confines of practical constraints. I understand the importance of balancing
        technical excellence with business objectives and am skilled at effectively managing resources, timelines, and
        budgets. By carefully assessing project requirements and collaborating closely with stakeholders, I ensure that
        development initiatives align with the organization's goals while delivering optimal results. My experience in
        handling business limitations allows me to make informed decisions, prioritize tasks, and implement creative
        solutions that maximize value and drive success.
    </p>
</div>
<div id="skills-and-education-container">
    <div id="skills-container">
        <h2>Skills</h2>

        <div class="skill-container">
            <span title>Back-end Development</span>
            @if({
            yearsSince: '2016-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Full stack Development</span>
            @if({
            yearsSince: '2017-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>SaaS Development</span>
            @if({
            yearsSince: '2020-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>JavaScript / Typescript / NodeJs</span>
            @if({
            yearsSince: '2016-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Git</span>
            @if({
            yearsSince: '2016-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>SQL</span>
            @if({
            yearsSince: '2011-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Java</span>
            @if({
            yearsSince: '2010-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Docker</span>
            @if({
            yearsSince: '2017-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>MongoDB</span>
            @if({
            yearsSince: '2015-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Firebase</span>
            @if({
            yearsSince: '2016-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
        <div class="skill-container">
            <span title>Project Management</span>
            @if({
            yearsSince: '2018-01-01' | yearsSince,
            }; as vm) {
            <span date>
                @if(vm.yearsSince > 10) { 10+ } @else { {{ vm.yearsSince }} } years</span>
            <!-- 
                <app-scale label="Competence" value="4" max="5"></app-scale>
                <app-scale label="Enthusiasm" value="3" max="5"></app-scale>
            -->
            }
        </div>
    </div>
    <div id="education-container">
        <h2>Education</h2>
        <div class="education-item-container">
            <h3>Java Programming Course</h3>
            <span>2016</span>
            <div>
                <span>Van Zyl & Pritchard</span>
                <p>Full-time program and thereafter two-year service tie-back.</p>
            </div>
        </div>
        <div class="education-item-container">
            <h3>BSc Information Technology</h3>
            <span>2013-2016</span>
            <div>
                <span>University of Johannesburg</span>
                <p>While I have not yet completed my university degree, I am eager to pursue its completion should an
                    employer provide me with the opportunity to do so.</p>
            </div>
        </div>
        <div class="education-item-container">
            <h3>Matric Exemption</h3>
            <span>2012</span>
            <div>
                <span>Heronbridge College</span>
                <p>While I have not yet completed my university degree, I am eager to pursue its completion should an
                    employer provide me with the opportunity to do so.</p>
            </div>
        </div>
    </div>
</div>
<div id="work-experiance-container">
    <h2 title>Work Experiance</h2>
    <div class="job-container">
        <h3 title>Full-stack Developer</h3>
        <h4>Minit Money</h4>
        <span>{{ '2023-12-01' | date : 'MMMM yyyy' }} - Present</span>
        <div>
            <p>
                At Minit Money, I worked on a SaaS platform providing remittances across Africa. My responsibilities
                included developing and maintaining the backend services, ensuring secure and efficient
                transactions, and integrating with various payment gateways. I collaborated closely with the design
                team to deliver a seamless user experience, and I played a key role in optimizing the platform for
                scalability and reliability to handle high transaction volumes.
            </p>
        </div>
    </div>
    <div class="job-container">
        <h3 title>Software Developer</h3>
        <h4>Intershu</h4>
        <span>{{ '2023-04-12' | date : 'MMMM yyyy' }} - {{ '2023-11-30' | date : 'MMMM yyyy' }}</span>
        <div>
            <p>I contributed to the development of various internal applications aimed at enhancing business
                processes and providing users with streamlined access to Microsoft GP and Warehouse Pro. Leveraging
                a mix of technologies, including ASP.NET, Angular, PHP, and NestJs, I actively participated in
                designing, building, and maintaining these applications. These internal tools played a critical role
                in maintaining operational efficiency throughout the organization and our subsidaries</p>
            <span>
                Reason for leaving: Seeking a more aligned and effective work environment
            </span>
        </div>
    </div>
    <div class="job-container">
        <h3>Senior Full Stack Developer</h3>
        <h4>Turnbuckle Digital Design & Development</h4>
        <span>{{ '2018-08-01' | date : 'MMMM yyyy' }} - {{ '2023-04-11' | date : 'MMMM yyyy' }}</span>
        <div>
            <p>I designed and built a comprehensive full stack application specializing in financial risk and
                management reporting. Leveraging a combination of MSSQL, Node.js with Express.js, and Angular for
                the frontend, the application seamlessly caters to both RESTful and GraphQL requests. Notably, it
                incorporates advanced features such as whitelabeling and multi-tenancy to meet the diverse needs of
                our clients. Noteworthy organizations, including KPMG, BDigital, and Rentworks, rely on this
                application for their critical financial operations.</p>
            <span>
                Reason for leaving: I'm looking for a new challenge.
            </span>
        </div>
    </div>
    <div class="job-container">
        <h3>Developer / Junior Developer</h3>
        <h4>Van Zyl & Pritchard</h4>
        <span>{{ '2016-08-01' | date : 'MMMM yyyy' }} - {{ '2018-08-01' | date : 'MMMM yyyy' }}</span>
        <div>
            <span>While contracted to Van Zyl & Pritchard I worked for Stuart King & Associates, and Ice Mobile
                Telecommunications</span>
            <p>During my tenure at Stuart King & Associates, I spearheaded the development of a full stack travel
                website akin to renowned platforms like bookings.com or trivago.com. This project entailed
                leveraging a Java backend and a web application constructed with JQuery. Seamlessly integrating with
                third-party providers such as Flightline, Amadeus, and Sabre, our goal was to optimize long-distance
                travel for customers by facilitating seamless transitions between different service providers.</p>
            <p>Additionally, at Ice Mobile, I played a pivotal role in creating an Android-based online storefront
                application, similar to the popular Steam games mobile platform. Utilizing the Android SDK and an
                in-house API, I successfully developed an intuitive and user-friendly mobile app that provided
                customers with access to a wide range of products.</p>
            <span>
                Reason for leaving: Our contract was completed and fulfilled.
            </span>
        </div>
    </div>
    <div class="job-container">
        <h3>IT Lecturer</h3>
        <h4>Kip McGrath Education Center</h4>
        <span>{{ '2015-05-01' | date : 'MMMM yyyy' }} - {{ '2016-10-01' | date : 'MMMM yyyy' }}</span>
        <div>
            <p>During my time at university, I had the privilege of serving as a part-time lecturer in Information
                Technology, imparting knowledge to scholars who were pursuing their matriculation. This role
                involved delivering lectures, conducting interactive sessions, and providing guidance and support to
                students as they navigated the intricacies of the subject matter. By effectively communicating
                complex concepts in a simplified manner, I fostered an engaging learning environment that helped
                students develop a solid foundation in Information Technology.</p>
            <span>
                Reason for leaving: I left to focus on my studies.
            </span>
        </div>
    </div>
</div>