/* You can add global styles to this file, and also import other style files */

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

body {
    background: linear-gradient(320deg,#f27121,#e94057,#8a2387);
    color: white;
}