div {
    display: grid;
    grid-template-areas: 'title title exp';
    grid-template-columns: 2fr 2fr 1fr;

    &> .title {
        grid-area: title;
    }

    &> .experiance {
        grid-area: exp;
        justify-self: end;
    }
}